
#breadcrumbs {
    background-color: #eee;
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    right: 0;
    z-index: 999;

    margin: 0;
    padding: 0;
    
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 0px 8px rgba(0, 0, 0, 1);
    box-shadow:         0px 0px 8px rgba(0, 0, 0, 1);



    overflow-y: hidden;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width: auto;
}


#breadcrumbs a {
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
    color: #444;
    display: inline-block;
    vertical-align: bottom;
    background-repeat:no-repeat;
    background-position: 8px 8px;
    background-size: 24px;
    font-size: 16px;
    height: 40px;
    margin: 0;
    padding: 12px 12px 0 40px;
    border-right: 1px solid #bbb;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 15em;
    cursor: inherit;
    text-decoration: none;
    cursor: pointer;
}



#breadcrumbs .root {
    background-image: url('/even-fancier-index/themes/Humanity/places/24/gnome-fs-server.svg');
}

#breadcrumbs .page {
    background-image: url('/even-fancier-index/themes/Humanity/mimes/24/text-html.svg');
}

#breadcrumbs .directory {
    background-image: url('/even-fancier-index/themes/Humanity/places/24/folder.svg');
}

#breadcrumbs .directory.home {
    background-image: url('/even-fancier-index/themes/Humanity/places/24/user-home.svg');
}

#location {
    background-color: #fff;

    -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
    -moz-box-shadow:    0px 0px 30px rgba(255, 255, 255, 1);
    box-shadow:         0px 0px 30px rgba(255, 255, 255, 1);
    cursor: none;
    margin: 1em 0;
}

